<html>
<head>
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-1.1.0.min.css"
    rel="stylesheet" type="text/css">
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.1.0.min.css"
    rel="stylesheet" type="text/css">

<script src="http://cdn.pydata.org/bokeh/release/bokeh-1.1.0.min.js"></script>
<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.1.0.min.js"></script>


</head>
<body>
<h1>Bokeh Practice</h1>


{#
<form action="/bokeh_practice">
<select name="feature_name">
	<option selected value="{{ feature }}">{{ feature }}</option> 
</select>
<input type="submit">
</form>
#}

{# The plot is being displayed through script and div #}
{{ script|safe }}
{{ div|safe }}

{{ state_lats }}
{{ state_lons }}


{#
	<h1>limit 20 results: id, lat, lon, date, h500</h1>
	{% for row in results %}
		<li>{{ row[0] }}, {{ row[1] }}, {{ row[2] }}, {{ row[3] }}, {{ row[4] }}</li>
	{% endfor %}
#}

	<h1>Printing dataframe: id, lat, lon, date, h500</h1>
	{{ df }}
{#
	{% for row in results %}
		<li>{{ row[0] }}, {{ row[1] }}, {{ row[2] }}, {{ row[3] }}, {{ row[4] }}</li>
	{% endfor %}
#}

</body>
</html>